

:root 
{
    --bod: #222327;
    --backCardDia: linear-gradient(126.85deg, #e6d111 27.26%, #b7731f 76.03%);
    --backCardNoite: linear-gradient(336.85deg, #1b1a1a 17.26%, #303189 56.03%);
    --backCardTarde: linear-gradient(336.85deg, #d30000 7.26%, #ffff00 56.03%); 
}
body 
{  
    background-color: #222327;
    font: normal 15pt Arial;
    color: aliceblue;
    text-align: center;
}

header
{
    color: aliceblue;
    text-align: center;
}

section
{
    text-align: center;
    border-radius: 15px ;
    padding: 8px;
    width: 600px;
    height: 300px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 363);
    margin: auto;
}

footer
{
    text-align: center;
    font-style: italic;
}



