
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4
{
  text-align: center;
  font: bold 2.7rem/1.1 'Montserrat', sans-serif;
  background: linear-gradient(to right, #5D8973 0%, #1A4855 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
}
.project 
{
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;/*adicionar objetos lado a lado no grid*/
  justify-items: center;
}
h5
{
  font: bold 1.5rem/1.1 'Montserrat', sans-serif;
  background: linear-gradient(to right, #5D8973 0%, #1A4855 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.descricao
{
  margin-left: 20px;
}
.card_inicial
{
  width: 50;
  height: 300px;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 2px solid rgba(0, 0, 0, 0.22);
  display: flex;
  gap: 20px;
}
.btnContar
{
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 25px;
  padding: 10px 20px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #1A4855;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.txtPasso
{
  margin-top: 20px;
}
.txtFim
{
  margin-top: 20px;
}
.inicio
{
  margin-left: 14px;
  width: 80px;
}
.passo
{
  width: 80px;
  margin-left: 11px;
}
.fim
{
  width: 80px;
  margin-left: 26px;
}
.card_res
{
  width: 530px;
  height: 300px;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 2px solid rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btnLinkProject 
{
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #1A4855;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}


