footer {
  text-align: center;
  padding-bottom: 20px;
}
footer p {
  font-size: 0.9rem;
}
footer a {
  color:  #c8232e ;
}
footer a:hover {
  color:  linear-gradient(to right, #f43b47 0%, #453a94 100%);;
  transition: 0.3s;
}