
.header 
{
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.menu 
{
 display: flex;
 gap: 30px;
}
.menu a 
{
  color: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  font-size: 14px;
}
.menuProjetos
{
  font: bold 1.1rem/1.1 'Montserrat', sans-serif;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu a::after 
{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  margin-top: -12px;
  position: absolute;
}
.menu a:hover::after 
{
  width: 100%;
  transition: 0.3s;
}
.home 
{
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5rem;
}
/*   */
#lua i
{
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
}
#sol i
{
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
}




